@page "/blogs/{page:int?}"
@using System.Text.Json
@using StaticBlog3.Models
@inject IJSRuntime jsRuntime
@inject BlogService BlogService

<h1>Blog Posts</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="row">

            @foreach (var post in displayedBlogPosts)
            {
                <div class="card mx-2 mb-3 col-md-5">
                    <img src="@(post.FeaturedImage)" class="card-img-top" height="250px" alt="...">
                    <div class="card-body">
                        <h2 class="card-title"><a href="/@(post.Slug)">@(post.Title)</a></h2>
                        <p class="card-text">@post.Description</p>
                        <p class="card-text"><small class="text-muted">@post.Date.ToShortDateString()</small></p>
                    </div>
                </div>


            }
            </div>

            @if (totalPages > 1)
            {
                <nav aria-label="Blog Posts Pagination">
                    <ul class="pagination">
                        @if (currentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/blogs/@(currentPage - 1)">Previous</a>
                            </li>
                        }

                        @for (int page = 1; page <= totalPages; page++)
                        {

                            <li class="page-item @(currentPage == page ? "active" : "")">
                                <a class="page-link" href="/blogs/@(page)">@(page)</a>
                            </li>
                        }

                        @if (currentPage < totalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/blogs/@(currentPage + 1)">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            }

        </div>
        <div class="col-12 col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5>A propos de l'auteur</h5>
                    <hr />
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate amet ullam excepturi odio impedit saepe nemo repellendus, aut suscipit voluptas omnis quas quisquam accusamus illo laboriosam rerum, totam ea eaque.</p>
                </div>
            </div>


        </div>
    </div>
</div>
@code {
    private List<BlogPost> allBlogPosts;
    private List<BlogPost> displayedBlogPosts;
    private int pageSize = 5;
    private int currentPage = 1;
    private int totalPages => (int)Math.Ceiling(allBlogPosts.Count / (double)pageSize);
    [Parameter] public int Page { get; set; } = 1;

    protected override void OnParametersSet()
    {
        if (Page >= 1 && Page <= totalPages)
        {
            currentPage = Page;
        }
        else
        {
            currentPage = 1;
        }

        UpdateDisplayedPosts();
    }

    protected override void OnInitialized()
    {
        allBlogPosts = BlogService.GetBlogPosts().ToList();
        UpdateDisplayedPosts();
    }

    private void UpdateDisplayedPosts()
    {
        displayedBlogPosts = allBlogPosts.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
    }
}

