@page "/{Slug}"
@using Markdig.Renderers;
@using StaticBlog3.Models
@inject IJSRuntime jsRuntime
@inject BlogService BlogService

@if (blogPost == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="container">
        <div class="row">
            @if (blogPost.FeaturedImage != null)
            {
                <div class="d-flex justify-content-center">
                    <img src="@blogPost.FeaturedImage" class="rounded  my-2" alt="Blog Post Image" loading="lazy" style="height: 350px; width: 100%; object-fit: cover;">
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <img src="https://placehold.co/760x350" class="rounded  my-2" alt="Blog Post Image" loading="lazy" style="height: 350px; width: 100%; object-fit: cover;">
                </div>
            }
            <br />
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><NavLink href="/">Home </NavLink></li>
                @if (blogPost == null)
                {
                    <p>Loading...</p>
                }
                else
                {
                    <li class="breadcrumb-item"><a href="/@blogPost.Slug">@blogPost.Title</a></li>
                }
            </ul>

            <div class="col-md-8">
                @if (blogPost != null)
                {

                    <h1 class="mb-2">@blogPost.Title</h1>
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col d-flex flex-row text-center align-items-center gap-2">
                            @if (blogPost.AuthorImg is null)
                            {
                                <img src="icons/person.svg" alt="@blogPost.Author" class="rounded-circle" width="40" height="40" />
                            }
                            else
                            {
                                <img src="@blogPost.AuthorImg" alt="@blogPost.Author" class="rounded-circle" width="40" height="40" />
                            }
                            <p class="mb-0 text-center text-muted">@blogPost.Author</p>
                        </div>

                        <div class="col text-center separator">
                            <p class="mb-0 text-muted"><img src="icons/calendar.svg" width="20" height="20" /> @blogPost.Date.ToString("MMMM d, yyyy")</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-muted "><img src="icons/eye.svg" width="20" height="20" alt="views" /> @blogPost.Views</p>
                        </div>
                    </div>
                    <div class="wrap">
                        @((MarkupString)(@Markdig.Markdown.ToHtml(blogPost.Content)))
                    </div>

                }
                else
                {
                    <p>Blog post not found.</p>
                }
            </div>
            @* Side bar Component Here *@
            <div class="col-12 col-md-4">
                <Sidebar />
            </div>
        </div>
    </div>

}
@code {
    private BlogPost blogPost;

    [Parameter] public string Slug { get; set; }

    protected override void OnInitialized()
    {
        blogPost = BlogService.GetBlogPostBySlug(Slug);
        if (Slug != null)
        {

            // Call the UpdateViewCount method to increment the view count
            BlogService.UpdateViewCount(Slug);
        }
      
    }

}
<!-- Include Highlight.js styles and scripts -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/highlightjs-cshtml-razor/dist/cshtml-razor.min.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        hljs.highlightAll();
    });
</script>
